[2014-08-14 11:21] yvaucher opened #3 "Missing label *needs review*"
Read OCA/maintainers-tools#29 to know more about it

[2014-08-14 13:39] #3 closed, assigned to nobody

[2015-08-18 10:25] dhecar opened #16 "tr_barcode_on_picking, error in create picking v7"
I'm getting this error on picking creation. The module is recently download from github. Thanks in advance

Client Traceback (most recent call last):
  File "/opt/odoo/odoo-server/addons/web/http.py", line 204, in dispatch
    response["result"] = method(self, *_self.params)
  File "/opt/odoo/odoo-server/addons/web/controllers/main.py", line 1137, in call_button
    action = self._call_kw(req, mod

[2015-10-14 00:54] pedrobaeza opened #20 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [ ] base_gs1_barcode
- [ ] tr_barcode_on_tracking
- [ ] tr_barcode_on_product
- [x] ~~product_barcode_generator~~ - Removed as obsolete - Replaced by _barcodes_generator_product_
- [ ] tr_barcode_on_prodlots
- [ ] tr_barcode_on_picking
- [ ] tr_barcode_field
- [ ] tr_barcode_config
- [ ] barcode_li

[2016-02-14 20:07] Whytehorse opened #27 "Missing barcode on stock.report_lot_barcode"
Barcodes are missing. Not sure where to begin. I installed reportlab and all the fonts. The serial number shows up fine but the barcode is just a small black box with an outline where the barcode should be. Is there some mroe fonts needed or something? FYI product barcode printing works fine, it's just the lot serial number that has issues.

[2016-02-14 20:11] pedrobaeza commented on #27
This is not something related to this project, and also that you don't have to publish as an issue, because this is not a bug. Anyways, this is what I do for having barcodes:

[code]

If you don't still have it, you should go to Odoo forums for more support.

[2016-02-14 20:11] #27 closed, assigned to nobody

[2016-02-14 20:23] Whytehorse commented on #27
thank you. Opened the issue in the correct place here:
https://github.com/steedos/odoo8/issues/1

[2016-07-05 15:54] rubencabrera opened #30 "Generate barcodes for existing products"
Barcode generator behaviour is good enough for new products, but some companies already work with odoo and have a large database of products, which would largely benefit from barcode implementation on their warehouse.

We are working on this to do a PR to generate barcodes from existing product reference (default_code), but I open this issue to ask for feedback on any issue or request that might s

[2016-07-18 07:15] yelizariev opened #33 "product_barcode_generator: ean_sequence_id in product.product"
Probably, we don't need that field.

Check discussion: https://github.com/OCA/stock-logistics-barcode/pull/32#discussion-diff-71078250

[2016-07-18 09:45] pedrobaeza commented on #33
Looking deeper, I see this as a way to fill the gap when a company has more than one GTIN prefix, and you want to use another prefix. I would prefer a way to define all prefixes at company level, and let the system decide which one is the next to use, but this one can be another way.

[2016-08-16 01:31] lasley opened #35 "Blueprint: GTIN Barcode Support"
GTIN is a barcode nomenclature that provides package, unit, and item references in the code + a mod10 checksum similar to EAN.

There are multiple types of GTIN - my project goal is specifically to GTIN14, but I believe I will be able to nail support for all of them because the lower ones are just zero padded. The other GTIN versions are encoded with EAN13 (GTIN13), UPC-A (GTIN12), or EAN8 (GTIN8)

[2016-08-16 07:32] pedrobaeza commented on #35
See https://github.com/OCA/product-attribute/tree/8.0/product_gtin

A logical move is to bring this module here in 9.0 and remove it from the other repository.

[2016-08-22 12:54] seifeddine9 opened #37 "Odoo 9c Support"
Well i was wondering if this module will be available for the odoo 9 community version ??
IF NOT would you recommend an other ??
Thanks in advance

[2016-08-22 13:23] pedrobaeza commented on #37
Which module? This repository contains several modules. Anyway, the module will be available if someone migrates it.

[2016-08-22 13:23] #37 closed, assigned to nobody

[2016-09-12 08:52] helpdesknl opened #39 "How to install Product_barcode_generator? Barcode Generator Error"
Greetings Odoo enthusiasts...

I'm pretty new to Odoo but i like the system very well so far. I only have one problem when trying to install apps/modules from third party's to Odoo, every time i do this the installation gives a trace back call error, odoo server error or openerp error. With some apps it won't give an error but it won't install.

The apps i tried to install are:

Product_barcode_ge

[2016-10-06 14:08] pedrobaeza opened #45 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [ ] barcode_link
- [ ] base_gs1_barcode
- [x] ~~product_barcode_generator - By @JosDeGraeve - #63~~ Deprecated
- [ ] barcodes_generator_abstract - #65
- [ ] barcodes_generator_product - #66
- [ ] barcodes_generator_partner - #67
- [ ] mobile_app_inventory - By @abondis - #174
- [ ] product_multi_e

[2016-10-08 14:40] Garamotte commented on #45
Migration of the stock_scanner module here : https://github.com/OCA/stock-logistics-barcode/pull/46

[2016-11-14 09:50] gurneyalex opened #52 "product_multi_ean changes column type"
Module product_multi_ean in branch 7.0 and 8.0 changes a column type (product.product ean13 changes from char to m2o). This is not a nice thing to do as it breaks any module which is not depending on product_multi_ean and needs to create products with an ean13 field (in demo data or tests).

This kind of db layout changes should be avoided.

Options:
* remove product_multi_ean from OCA
* change th

[2016-11-14 09:50] gurneyalex commented on #52
ping @guewen @legalsylvain @OCA/logistics-maintainers

[2016-11-14 10:07] legalsylvain commented on #52
Hi,

**V7**
- in Core, it is a Char [Ref](https://github.com/odoo/odoo/blob/7.0/addons/product/product.py#L563)
- in product_multi_ean, it is a **Many2one** (computed) [ref](https://github.com/OCA/stock-logistics-barcode/blob/7.0/product_multi_ean/product_ean.py#L122)

-> problem

**V8**
- in Core, it is a Char [Ref](https://github.com/odoo/odoo/blob/8.0/addons/product/product.py#L1001)
- in produ

[2016-11-14 10:12] gurneyalex commented on #52
ok so the problem was identified at the time of the v8 migration and solved there, without touching the 7.0 branch.

[2016-11-14 10:59] legalsylvain commented on #52
Tested, it doesn't work. This intent will break at the next update all, because loading the module will be skipped. odoo update is based on the manifests. [Ref](https://github.com/odoo/odoo/blob/7.0/openerp/modules/graph.py#L102)

If any people has an idea how to monkey patch this part, in 'product_multi_ean'. What we want is "if the module is installed on an instance, and the manifest of this mod

[2016-11-14 11:15] pedrobaeza commented on #52
I think it's better to change the type again to Char in v7.

[2016-11-18 11:14] legalsylvain commented on #52
Hi @pedrobaeza.

Changing the type to char in v7 will take more time (analysis + upgrade migration script), and it will break all dependencies. (as the other solutions).

[2016-11-18 11:49] pedrobaeza commented on #52
What are the dependencies currently? The migration script is very simple IMO.

[2016-11-18 12:20] legalsylvain commented on #52
- Dependencies could be in custom module. We don't know.
- Well, in fact this bug occures because i began to share my work scan_to_inventory module (#50) after an email of @rafaelbn. I wanted to have my module working on runbot to show how it works to the community. My module does not work on runbot if product_multi_ean (V7) is installed.

In fact, no module are working with product_multi_ean modu

[2016-11-21 16:22] Olageibol opened #53 "Product barcode mass-assignment"

[2016-12-01 15:23] legalsylvain commented on #52
Fixed by #57

[2016-12-01 15:23] #52 closed, assigned to nobody

[2016-12-08 22:04] lasley commented on #35
PR #36

[2016-12-08 22:04] #35 closed, assigned to nobody

[2016-12-08 22:06] lasley commented on #39
Hi @helpdesknl - I can confirm that Product_barcode_generator from OCA works in 9.0 runbot. Please submit in the repo containing the failing module, which can be determined by installing one at a time.

[2016-12-08 22:06] #39 closed, assigned to nobody

[2016-12-08 22:16] lasley commented on #39
Although do note that the 9.0 module is called `barcodes_generator_product`

[2016-12-08 22:19] lasley opened #59 "Dev branch on OCA repo"
Hi @legalsylvain - Looks like we have one of your branches on OCA side. I ❤️  your naming schema btw, people trying to find me based on my branch names would be screwed 😆

![image](https://cloud.githubusercontent.com/assets/7397578/21030010/203c5516-bd51-11e6-9d19-56dfb9e841f8.png)

[2016-12-19 22:54] lasley commented on #30
You could just create a server action that searches for products without a barcode, then calls `generate_barcode()` on them. Seems this is a simple enough solution for something one-time like this IMO

[2016-12-27 08:17] JosDeGraeve commented on #45
Migration of the product_barcode_generator here: #63

[2016-12-28 21:33] lasley commented on #45
Added the `barcodes_generator_*` modules and claimed `_abstract`, which I should be submitting in the next few hours.

[2017-01-02 08:48] fohnbit opened #69 "Update form with UOM and Quantity"
Hi,

the app is great. Very helpful, but maybe you can add 2 functions?:
1. display the UOM ... when counting it is important to know the UOM
2. Jump with the cursor in the "add_qty" field .. so you can add the Quantity and just press Enter to Update

Thank you and happy new year

edit: I use odoo8

[2017-01-12 13:43] odaybari opened #71 "[9.0] Need help. barcodes_generator_product issue, me or everyone?"
Hi
Please help,
I Have installed barcodes_generator_product and barcodes_generator_abstract in V 9.0. Followed the instruction and setup "auto generating" and manual once at a time for products. Barcode are not generated automatically either manually ( no buttons in product template).

pyBarcode installed.

Thanks

[2017-01-19 11:14] rubencabrera commented on #30
Thanks, @lasley, still have to try that, but seems a good solution!

[2017-01-21 12:42] odaybari commented on #71
Any help please?

[2017-01-21 12:45] pedrobaeza commented on #71
Sorry, but this is not an issue (bug) itself. If you put any kind of log error, maybe there can be a bug, but if no more information, there's nothing to do.

Interesting link: http://www.catb.org/~esr/faqs/smart-questions.html

[2017-01-31 19:11] lasley commented on #71
Closing - please reopen after reading @pedrobaeza's link & with more info

[2017-01-31 19:11] #71 closed, assigned to nobody

[2017-02-08 22:05] azeemism opened #78 "[8.0][product_multi_ean] Question: When do I enter and prioritize additional EAN13 Codes"
Hi. I installed this module but am confused where I can enter multiple EAN13 Codes and set their Priorities?

When I go to the product, I only see one EAN13 box:

![2017-02-08 13_32_54-products - erp](https://cloud.githubusercontent.com/assets/10731034/22759387/1da4c1d0-ee07-11e6-8818-c191c5fdaf38.png)

Thanks for all you do.

[2017-02-15 03:18] lasley commented on #53
Closing due to lack of info. If you are experiencing an issue- reopen with additional information explaining what the problem is, Odoo version, module name, module version, etc.

[2017-02-15 03:18] #53 closed, assigned to nobody

[2017-02-15 03:21] lasley commented on #33
Shall we close this due to the new nomenclature based module? Company isolation is maintained there & I have customers using multiple GTIN prefixes in one installation without issues 👍

[2017-02-15 03:24] lasley commented on #30
@rubencabrera - An example can be seen [here](https://github.com/OCA/stock-logistics-barcode/pull/77/commits/e7fb1cf639cb488594980d77b723643630e143ed#diff-eed96e6c42bbce19bf81c29af81a8ec0R37)

[2017-02-15 15:43] lasley commented on #59
I have deleted this branch due to no response

[2017-02-15 15:43] #59 closed, assigned to legalsylvain

[2017-02-15 16:00] legalsylvain commented on #59
@lasley sorry I did not see this issue. thanks for cleaning this OCA repo, and sorry for the annoyance.

[2017-02-15 16:05] lasley commented on #59
No worries - I just hope I didn't delete anything that you didn't have on local!

[2017-02-17 19:10] lasley opened #79 "[RFC] pos_stock_picking: POS for carrier drivers"
This module will extend v10 point of sale to provide a `stock.picking` delivery interface. The main goal is to provide offline access to a set of pickings for the day, aggregating all movements into a session - just like POS.

I think we will be able to reuse a lot of the existing POS assets, then we can glue in the interface from [`web_stock_picking`](https://github.com/OCA/stock-logistics-barcod

[2017-02-18 03:00] lasley commented on #30
@rubencabrera I'm going to close this issue. Ping me in the PR if you decide to make a glue module or something allowing for this functionality & I will review.

[2017-02-18 03:00] #30 closed, assigned to nobody

[2017-02-18 03:01] lasley commented on #69
Hi @fohnbit - What specific module are you referring to?

[2017-02-18 03:05] lasley commented on #78
Hi @azeemism - The EAN is only visible on the Product Variant, you are looking at the Product Template. I have confirmed that this works by Going to Warehouse => Products => Apple In-Ear Headphones => Variants (tab) => 1 List of Variants (button) => [A8767] Apple In-Ear Headphones:

![image](https://cloud.githubusercontent.com/assets/7397578/23089786/08f05c2e-f544-11e6-9efa-3d8d0ad7725d.png)

[2017-02-18 03:05] #78 closed, assigned to nobody

[2017-02-18 03:06] lasley commented on #16
Hi @dhecar - Sorry but I'm pretty sure these modules won't be touched again. I went ahead and filed a PR to deprecate them in #81

[2017-02-18 03:06] #16 closed, assigned to nobody

[2017-03-01 10:35] rubencabrera commented on #30
That's fine, @lasley , I'll have it on hold for a while since there are some other priorities on that same project. Thanks for your attention.

[2017-03-16 10:03] svalencius opened #89 "Android mobile as scanner hardware?"
Hi,
I'm trying to setup my android mobile phone as hardware scanner. Currently I'm planning to host sentinel.py on my VPS and use JuiceSSH or any other SSH app to connect to VPS and run sentinel.py inside.
I was wondering is there any other open sourced implementation which is more native for android? Like running sentinel directly in android as an app?

Also I noticed there's two types of _transi

[2017-03-19 16:05] nkomate opened #90 "How to enable barcode number auto-generation?"
Firstly, I am new to Odoo and sorry for this silly question.

I've successfully installed the module onto my Odoo8 server.

Every time I create a product and its variants, I have to press "Generate the EAN13" button for each variant to generate the barcode number.

How do I set the module to have a barcode number generated automatically when a product is created?  I tried to look around all over t

[2017-03-25 18:34] livingmine commented on #89
@simas068 Have you considered creating an API so that your android app can communicate with your Odoo instance to accomplish your goal? I haven't used this sentinel.py before and not really sure what are the benefits of using this approach against API approach though so i'm also curious on this topic.

[2017-04-19 15:30] IOAyman opened #91 "[Q][Resolved] How to activate the plugins?"
So I have just installed the plugins on a fresh Odoo instance which only has the Inventory app installed.
The problem is that, when I create a new product I'm not seeing the barcode generation  rule selector anywhere.

![screenshot_2017-04-19_15-44-37](https://cloud.githubusercontent.com/assets/6185849/25186219/d6364832-251f-11e7-9e52-fd05f6cd8f47.png)

A little guidance with that, please? I'd be

[2017-05-11 11:24] NillerVillar opened #93 "OperationalError: Unable to use a closed cursor."
Hello, I´m in Odoo v10.0 CE, i want to autogenerate the barcode EAN-13 in the new products.
I Install **barcodes_generator_abstract** and **barcodes_generator_product**.
I generate a barcode nomenclature and barcode pattern 23...........
The first generation of barcode works well, but if i want to create a new products, this is the error:
If i update the addon barcodes_generator_product works well

[2017-05-18 06:38] himalsaman commented on #91
same problem please how active it in product form

[2017-05-21 19:50] IOAyman commented on #91
I had to enable the user to be able to generate barcodes from Settings>Users.

I think this should be documented.

[2017-06-06 12:13] dvdhinesh commented on #93
I also faced this error on the OCA runbot `https://runbot.odoo-community.org/runbot/150/10.0`
The same happens in local also.

[2017-07-29 04:55] etherealite opened #100 "pip install is broken for barcodes_generator_abstract"
when running the command
`pip install odoo10_addon_barcodes_generator_abstract`

The command fails with the following stack trace:
[code]

Wouldn't adding this to setup.py fix the issue? EDIT: I see now that this not how Odoo packaging is done
[code]

EDIT:
I see now the setuptools-odoo is generating the wheels by parsing the odoo module manifest files. I put in what I'm guessing will fix this in

[2017-08-04 11:48] rafaelbn opened #102 "[9.0][BUG] Error "IllegalCharacterError: EAN code can only contain numbers." when generating a new barcode"
- Go to runbot: https://runbot.odoo-community.org/runbot/150/9.0 (in my case: http://3291991-9-0-25cf9c.runbot2.odoo-community.org/web?debug=1#id=157&view_type=form&model=product.template&menu_id=102&action=112)
- Try to generate a barcode of any new product
- Check "Default nomenclature" in Settings -> Sequence -> Barcode nomenclature (in my case. http://3291991-9-0-25cf9c.runbot2.odoo-community.

[2017-08-04 12:08] legalsylvain commented on #102
Your setting was :
![image](https://user-images.githubusercontent.com/3407482/28968015-46444fbe-791e-11e7-8e5b-2f800d8724b3.png)

The correct one is :
![image](https://user-images.githubusercontent.com/3407482/28968004-395b71a6-791e-11e7-8388-4da4d510166f.png)

".*" pattern is not managed by the module.
regards.

[2017-08-04 12:08] #102 closed, assigned to nobody

[2017-08-04 12:16] legalsylvain commented on #102
(In my previous comment, there are 13 "." In reality, we need 12 ".". (the 13st char is control char).

[2017-08-04 13:08] rafaelbn commented on #102
Thanks! 😄

[2017-08-10 14:50] yasserkaddour commented on #93
I had the same the same error, tell me if there is anything I can do to help you debug the issue.

[2017-08-11 10:40] legalsylvain commented on #93
Hi, I can not reproduce the bug.
- Local environement : All is OK. (Ubuntu Env + OCB 10.0, based on odoo 10.0 CE)
- On runbot, after relaunching build, all is OK.

Could you provides
- your environment ?
- the branch you are using ?
- the exact nomenclature setting and sequence setting (if any).

By the way, your pattern is bad. 23........... is 13 digit, and the pattern should be 12 digit, exclud

[2017-08-21 04:10] dvdhinesh commented on #93
@legalsylvain I just tested again in OCA runbot and that `closed cursor` error is still there....
Take a look at this [video](https://youtu.be/gjDgKeKAIu0)...
I just changed the existing rule from manual to sequence...

[2017-08-21 06:04] Nucleardragon88 commented on #93
I have same problem：

2017-08-21 05:40:04,432 1881 ERROR erp.gigatelco.com odoo.http: Exception during JSON request handling.
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 640, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 677, in dispatch
    resul

[2017-08-21 06:09] Nucleardragon88 commented on #93
I can create only 2 new products with automatic generation of barcode then I get an error, see previous message.

Then if I restart odoo (service odoo restart) I can create 2 products again, when I try to create a third product, I get an error again then service odoo restart again help and so again and again

[2017-08-21 06:36] Nucleardragon88 commented on #93
This error happens only if you select checkbox "Automatic Generation" when Generate Type is "Base managed by Sequence"

[2017-08-21 08:05] diranetafen commented on #91
@IOAyman Thank you for this sharing this solution, you save me a lot of day of research !

[2017-08-21 08:20] IOAyman commented on #91
@diranetafen, You're welcome! Glad to have helped 😄

[2017-08-21 08:21] #91 closed, assigned to nobody

[2017-08-21 14:46] diranetafen commented on #93
I have the same issue ! @Nucleardragon88  your observation is right , his error happens only if you select checkbox "Automatic Generation"
Thanks in advance for somebady who resolce this issue to share the solution
I'm currently use workaround : uncheck "Automatic Generation"

[2017-08-23 09:03] tonyjona commented on #90
@nkomate  I am very new to Odoo, and would you please to give me help on how to installed the module onto odoo. thanks!

[2017-08-25 17:04] evgk commented on #93
Hey,
  I quickly looked into it, looks like the culprit is this line:
@tools.ormcache('model')
in

    @api.model
    @tools.ormcache('model')
    def get_automatic_rule(self, model):
        """ It provides a cached indicator for barcode automation.

        Note that this cache needs to be explicitly cleared when
        `generate_automate` is changed on an associated `barcode.rule`.

        Ar

[2017-08-25 17:36] lasley commented on #93
Thanks for the breakdown everyone (especially @evgk). I think I have a solid fix that will still leverage cache but not exhibit this issue. Can you test #103 please?

[2017-09-04 16:27] #93 closed, assigned to nobody

[2017-09-04 17:44] JordiBForgeFlow opened #105 "[barcodes_generator] Limited barcode sequence"
Companies usually purchase a limited number of segment of UPC's.  Would be interesting to pre-allocate the segment into the rule, and ensure that the user gets a proper error message when all UPC's have been allocated.

Perhaps this would require adding a 'Max Number' field in `ir.sequence`, and triggering an error message when the max is going to be exceeded.

[2017-09-26 09:24] Hamza-Talibi opened #107 "installing module Generate Barcodes for Stock Production Lots"
Hi @lasley
When I try to install the module Generate Barcodes for Stock Production Lots I get an error in this line
https://github.com/OCA/stock-logistics-barcode/blob/15f23e157032e9739b1fe60eb85fe74b458a7391/barcodes_generator_abstract/models/barcode_generate_mixin.py#L70

The traceback:

File "/home/odoo10/odoo-dev/odoo/extra-addons/barcodes_generator_abstract/models/barcode_generate_mixin.py",

[2017-09-26 14:43] lasley commented on #107
@Hamza-Talibi - You can replicate this on Runbot?

That line is supposed to be interacting with the `barcode` Python library, not a lot record. Additionally, your traceback shows a different line than the one that actually exists in this repo:

This repo:
[code]

Your traceback:
[code]

[`item.get_barcode_class` does not exist in this repo](https://github.com/OCA/stock-logistics-barcode/search?utf

[2017-09-26 14:43] #107 closed, assigned to nobody

[2017-09-26 14:46] lasley commented on #107
My guess is you need to install [`viivakoodi`](https://github.com/OCA/stock-logistics-barcode/blob/10.0/requirements.txt#L2)

[2017-10-03 13:03] pedrobaeza opened #109 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [ ] barcode_link
- [ ] barcodes_ean14
- [x] barcodes_generator_abstract - By @phatnguyenuit - ~~#122~~ #138
- [ ] barcodes_generator_location - By @misern2 - #137
- [x] barcodes_generator_lot - By @misern2 - #139
- [ ] barcodes_generator_package - By @misern2 - #141
- [x] barcodes_generator_part

[2017-10-03 14:06] Garamotte commented on #109
Migration of `stock_scanner`: https://github.com/OCA/stock-logistics-barcode/pull/110

[2017-10-08 20:16] AccBest-BH opened #112 "Abstract/Product POS (Unknown Barcode)"
Hi,

I have noticed when I install the two modules (Abstract and Product), they cause an error in POS, when using the barcode scanner (unknown barcode). I wonder why is that when using the generator for products barcodes.

[2017-10-08 20:43] AccBest-BH commented on #112
Sorry my bad, Barcode Pattern was setup wrong

[2017-10-08 20:43] #112 closed, assigned to nobody

[2017-10-20 14:34] tomwic opened #113 "10.0 barcodes_generator_product"
barcode rule is not visible on product cart/template even done correctly in Barcode Nomenclatures section.

[2017-10-20 15:13] legalsylvain commented on #113
does your user belong to the correct group ?

https://github.com/OCA/stock-logistics-barcode/blob/10.0/barcodes_generator_product/views/view_product_product.xml#L18

regards.

[2018-01-23 10:38] benwillig opened #126 "Odoo server can't start when stock_scanner is installed with queue_job."
There is a problem when ```stock_scanner``` module is installed among ```queue_job``` module. [This line](https://github.com/OCA/queue/blob/10.0/queue_job/models/base.py#L20) inspects the model and tries to get the value of each property of the class. Because of the new methods, a singleton error is raised when the server is starting.

I don't know if ```queue_job``` module should be fixed rather

[2018-02-20 11:18] ctr-subteno-it opened #128 "Export with multiple steps/transitions with the same name"
If you export a scenario with several transitions with the same name (or several steps with the same name), the exporter will generate the same XML ID for the each of the transitions/steps (as they are based on the name).

The following patch (created from V10) will add a "_2" if it's the 2nd one, a "_3" if it's the third and so on and so forth.

[code]

[2018-04-18 14:53] #128 closed, assigned to nobody

[2018-05-21 10:01] MeetKD commented on #107
@Hamza-Talibi @lasley I have installed this Viivakoodi lib but I am still facing the same error. Any help ?

[2018-06-14 07:40] rousseldenis opened #152 "[10.0] Barcode in Product Packaging"
Hi all,

I need to reimplement barcodes in packagings (apart of barcode packaging generator existing module).

Am I in the right way to do so ? Just to have some advice.

[2018-06-14 08:24] rousseldenis commented on #152
See https://github.com/OCA/stock-logistics-barcode/pull/153

[2018-06-22 01:29] emagdalenaC2i commented on #109
@pedrobaeza stock_scanner #110 is done

[2018-06-22 03:11] pedrobaeza commented on #109
Right, noted

[2018-07-22 12:11] m3asmi opened #155 "how does the modules work ?"
I installed the modules
how can I start scanning with barcode scanner ?

[2018-07-22 12:14] #155 closed, assigned to nobody

[2018-08-27 21:40] ghost opened #156 "11.0 barcodes_generator_abstract"
After a module upgrade the nomeclature is set to default values.

[2018-08-28 06:20] pedrobaeza commented on #156
Which nomenclature? Can you specify the field in the model?

[2018-08-28 19:17] ghost commented on #156
I use the product barcode.
The barcode pattern is set back to *. and encoding to any

[2018-08-28 20:39] legalsylvain commented on #156
OK. You're talking about this pattern defined here :
https://github.com/odoo/odoo/blob/11.0/addons/barcodes/data/barcodes_data.xml#L7

this is a data set by Odoo in barcodes module, not by the module barcodes_generator_abstract.

you have to create a new pattern and use it. The one you are using will be updated during each update, because it is defined as updatable.

kind regards.

[2018-08-28 20:39] #156 closed, assigned to nobody

[2018-09-18 09:06] astirpe opened #158 "[BUG] stock_scanner: unable to install stock_scanner in demo mode"
Reproducible in V11. Not checked whether it occurs in other versions.

Steps to reproduce:

- Create a fresh database in Demo mode (Load demonstration data = True)
- Rename the company name "YourCompany" to something else, for example: "HappyCompany"
- install stock_scanner

Actual behavior:

[code]

[2018-09-27 00:38] OCA-git-bot opened #159 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] barcodes_generator_abstract - By @cvinh - #200
- [x] barcodes_generator_location - By @chienandalu - #251
- [ ] barcodes_generator_lot
- [ ] barcodes_generator_partner - By @krunal267 - #244
- [x] barcodes_generator_product - By @cvinh - #201
- [x] base_gs1_barcode - By @JoanSForgeFlow - #23

[2018-10-02 13:03] rousseldenis commented on #158
@astirpe There is a fix for that now.

[2018-10-08 07:47] #158 closed, assigned to nobody

[2018-10-12 00:34] fhrancis opened #161 "Cannot install barcodes_generator_abstract in Odoo 10.0 - "No module named barcode" message"
The viivakoodi library is already installed.
Tryed to install from Aplications within Odoo 10 and received the message "No module named barcode".
Tryed to install with:  pip install odoo10_addon_barcodes_generator_abstract
And this is the message:
-------------------------------------------------------------------------------------
Collecting odoo10_addon_barcodes_generator_abstract
  Downloading

[2018-10-12 12:20] pedrobaeza commented on #161
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo-community.org), so please be sure you are installing the library in the proper environment.

[2018-10-12 12:20] #161 closed, assigned to nobody

[2018-10-31 17:30] daramousk opened #165 "[RFC] Contributing an open source Android app for stock moving with barcode scanning to OCA"
Hello,

I have been working on an Android application which at some point I would like to push to OCA https://github.com/daramousk/android-odoo-delivery.

The use case for such an application would be to perform stock moves on the go.

At this stage this is **heavily beta** and possible you will experience a lot of crashes. Basically at this stage there is a primitive UI that you can use to synchr

[2018-10-31 18:14] legalsylvain commented on #165
Hi @daramousk. Thanks for sharing this work.

I work since 3 years on mobile apps (purchase and inventory). for the most mature module (inventory) the code is under OCA umbrella on version 8.0, https://github.com/OCA/stock-logistics-barcode/tree/8.0/mobile_app_inventory.

In a few words, it's a module that deploy web interface that are compatible with mobile device and it is used on production in

[2018-11-22 16:45] infoitservit opened #166 "[11.0][Multi Ean]Support different barcodes format"
A big part of the products we manage are referenced by multiple barcodes (same product, many barcodes during the years) and with barcodes like UPC-A or, in some case, other strange formats.
Is it possibile to adapt the product_multi_ean module to accept different types of barcodes? Could be enough (or safe) to remove the ean13 validation within the ProductEan13 class?
I tried to find other modules

[2018-11-26 20:00] daramousk commented on #165
@legalsylvain Perfect Sylvain thank you. I will keep reading this and see what I can incorporate.

[2018-11-26 20:00] #165 closed, assigned to nobody

[2018-11-30 09:46] infoitservit commented on #166
No way? Should I close this improvement post?

[2018-11-30 09:57] rousseldenis commented on #166
Hi @infoitservit,

I think this is a common asking in advanced product management.
Indeed, I think the product_multi_ean module should be improved to support all barcode formats and not only ean13 (but maybe field name is wrong and this can be used to manage multi barcode types).

Maybe @guewen @gurneyalex @pedrobaeza @xavierjimenez who worked on that module could help.

[2018-11-30 10:01] pedrobaeza commented on #166
Yes, it's interesting, but no customer is financing this improvement right now, so we are not going to develop it for free.

[2018-11-30 10:04] infoitservit commented on #166
Ok @pedrobaeza, let me understand how it goes. The odoo community could or not ask improvements to the odoo company? Should we expect free updates or should we rely on the odoo developer's community and partner to get some improvement like this?

No critics, just to understand how I should act next time.

[2018-11-30 10:18] pedrobaeza commented on #166
It's totally legit to suggest improvements. Sometimes the developer hasn't thought on that.

But that improvements might or not be developed ever, depending on the will/needs of the contributors. If you are not able to develop them, maybe you can finance that contributor to do it and make sure it gets OCA.

[2019-01-18 05:17] #166 closed, assigned to nobody

[2019-01-25 08:22] #152 closed, assigned to nobody

[2019-04-04 07:32] mrddter opened #177 "[11.0] AttributeError: module 'odoo.fields' has no attribute 'Serialized'"
I catch this error after last update, may you help me?

[2019-04-04 07:34] pedrobaeza commented on #177
You need to have `base_sparse_field` module installed and the service restarted.

[2019-04-04 07:34] #177 closed, assigned to nobody

[2019-04-15 18:15] hugho-ad commented on #177
@pedrobaeza

Why base_sparse_field need to be installed? at my odoo instance, stock_scanner module is not installed, I don't get it

[2019-04-16 11:54] pedrobaeza commented on #177
Well, this module uses it, and due to Python way of acting, you need it, or leave that module outside addons_path.

[2019-04-27 14:57] rousseldenis commented on #126
Closing this as fixed

[2019-04-27 14:57] #126 closed, assigned to nobody

[2019-04-27 15:10] rousseldenis commented on #113
@tomwic Any news on this issue ?

[2019-06-11 05:49] agent-z28 opened #181 "Replace stock_picking_barcode thats was existing in odoo 8"
In v8 was the Barcode Scanner implemented in core as Controller.
in v9 it was removed.
IT Projects LLC migrated it to v11/12
https://github.com/it-projects-llc/website-addons/tree/12.0/stock_picking_barcode

The design was bad, even in v8.

E.G. Loading the view, it loads all LOCATIONS, in our case thousands.

Is anyone already on the topic, to generate a new, state of the art, mobile based barcod

[2019-06-11 07:17] pedrobaeza commented on #181
AFAIK, the barcode listener is now integrated in the core and activated in current picking form view.

[2019-06-11 10:37] agent-z28 commented on #181
AFAIK the whole module has been removed. its has been replaced by enterprise modules.
We should quickly replace it.
I'm just asking bcs we dont wanna develop again everything new, and then somebody else did already the same PR:)

[2019-06-11 10:39] pedrobaeza commented on #181
Indeed the module is removed, but barcode is integrated now in main module.

[2019-06-11 10:44] agent-z28 opened #182 "We have a module to add a barcode to every location. Also the labels can be directly printed"
Is anyone interested?
If yes, is this the right repos fot the PR=?

[2019-06-11 10:45] pedrobaeza commented on #182
Isn't this https://github.com/OCA/stock-logistics-barcode/tree/10.0/barcodes_generator_location?

[2019-06-11 10:49] agent-z28 commented on #182
Yes looks like the same :( We double implemented :///

[2019-06-11 10:49] #182 closed, assigned to nobody

[2019-06-11 10:55] agent-z28 commented on #181
I dont know what the idea of controller in the stock is,
but its for sure not a stock_picking_controller?!
At the moment in v11 v12 theres no way to have a picking being done in the warehouse!

[2019-06-11 11:27] pedrobaeza commented on #181
I think the second section is in community: https://www.odoo.com/documentation/user/11.0/inventory/barcode/operations/delivery.html

[2019-07-03 15:43] kos94ok-3D opened #183 "Wrong expr path in res.config.setting"
https://github.com/OCA/stock-logistics-barcode/blob/b45987a51a8976413b9df8db3aeb299f8ff513c6/stock_scanner/wizard/res_config_settings.xml#L10

Try to use expr="//div[@data-key='stock']" position="inside"

[2019-07-03 15:44] pedrobaeza commented on #183
Why wrong path? Maybe it's only in your use case. Any way, you can do a PR if you consider this can be improved. You are not even saying the Odoo version...

[2019-07-03 15:50] kos94ok-3D commented on #183
Odoo11 CE, I do not see this options in my odoo

[2019-07-03 15:51] pedrobaeza commented on #183
I still don't see what is the wrong expression...

[2019-07-03 15:54] kos94ok-3D commented on #183
![изображение](https://user-images.githubusercontent.com/33932458/60606280-b9a08880-9dc3-11e9-87e5-de188f141fe1.png)
this element is not child for stock

[2019-07-03 15:56] pedrobaeza commented on #183
Sorry, but the screenshot is not readable, but any way, what are you trying to say? Prove it with screenshots, please.

[2019-07-03 15:57] pedrobaeza commented on #183
And try on the OCA runbot link for showing how it's expected.

[2019-07-03 16:02] kos94ok-3D commented on #183
I`m sorry, but I can not do it because this module is not exist here:
http://3376716-11-0-1f1cac.runbot1.odoo-community.org/web?debug=1#view_type=list&model=ir.module.module&action=31

[2019-07-03 16:05] pedrobaeza commented on #183
You can find it in http://3372050-11-0-b45987.runbot1.odoo-community.org

[2019-07-03 16:06] kos94ok-3D commented on #183
Instance: http://3372050-11-0-b45987.runbot1.odoo-community.org/web?debug=1#id=&view_type=form&model=res.config.settings&menu_id=179&action=278
and screenshot without block 'Configure scanner module'
![изображение](https://user-images.githubusercontent.com/33932458/60607194-7fd08180-9dc5-11e9-9e42-58f873e7e83c.png)

[2019-07-03 16:07] pedrobaeza commented on #183
OK, after 4 messages, you are finally saying the problem, that is that the block is not shown... Why haven't you say it from the beginning? @misern2 I think you were the migrator. Can you check?

[2019-07-03 16:21] kos94ok-3D commented on #183
It happened in this commit:
https://github.com/OCA/stock-logistics-barcode/commit/dd34bc2195ebe09ef6e5cf0930c5490db1640c51#diff-e094b656d253644c84c8a37e9af7c91f

[2019-07-04 13:47] rousseldenis commented on #183
@kos94ok-3D Ok, confirmed on runbot. Do you maybe want to make a PR to fix this ?

[2019-07-04 13:49] rousseldenis commented on #113
@tomwic

[2019-07-04 13:51] rousseldenis commented on #105
@jbeficent What's the status of this ? Does it need a RFC ?

[2019-07-04 13:53] rousseldenis commented on #100
This is fixed.

[2019-07-04 13:53] #100 closed, assigned to nobody

[2019-07-04 13:54] rousseldenis commented on #90
@nkomate Is this fixed ?

[2019-07-04 13:56] rousseldenis commented on #89
@svalencius What's the status of this ?

[2019-07-04 14:41] kos94ok-3D commented on #183
Only create PR without Cla and something else?

[2019-07-04 15:11] kos94ok-3D commented on #183
It will be cool. Must I send signed CLA before?

[2019-07-04 15:13] pedrobaeza commented on #183
When you want, but before merging the PR

[2019-07-08 10:04] kos94ok-3D opened #185 "CLA for kos94ok-3D"
I sent email with signed pdf file on 4 July 2019. But I did not have response.

[2019-07-08 10:06] pedrobaeza commented on #185
There's no answer except registering the CLA for future pull requests. You can check that when doing a new commit on existing PRs or a new PR. A message "Acknowledge of your CLA will appear".

[2019-07-08 10:06] #185 closed, assigned to nobody

[2019-07-08 17:13] kos94ok-3D opened #186 "[11.0] Stock scanner: AttributeError: module 'odoo.fields' has no attribute 'Serialized'"
![изображение](https://user-images.githubusercontent.com/33932458/60828142-614dfa00-a1ba-11e9-9e96-2f1933c2c902.png)
I do not know how get it in runbot.
If I import fields from base_sparse_field module, all is OK.

Can someone check it on own instance?

[2019-07-08 17:14] pedrobaeza commented on #186
You have to put in your config file to load as server wide module `base_sparse_field` module.

[2019-07-08 17:14] #186 closed, assigned to nobody

[2019-07-08 18:02] kos94ok-3D opened #187 "[11.0] stock_scanner: singleton error"
Expected singleton: scanner.hardware(1, 2)" while evaluating 'model.timeout_session()
Reproduce:
  Create more than one scanner.hardware records
  Use odoo-sentinel for login scenario or set manual for scanner.hardware records Last call
  Run cron "Remove the current user_id and scenario values on session timeout"

[2019-07-08 20:58] #183 closed, assigned to nobody

[2019-07-15 15:48] rafaelbn commented on #79
I think we could close this one.

[2019-07-15 15:49] #79 closed, assigned to nobody

[2019-07-18 11:34] rafaelbn commented on #159
[12.0][MIG] product_multi_ean #191 -> https://github.com/OCA/stock-logistics-barcode/pull/191

I cannot edit

[2019-07-29 16:49] legalsylvain opened #193 "[REF] Switching from viivakoodi lib to python-barcode (back)"
Ref of this issue : [this comment](https://github.com/OCA/stock-logistics-barcode/pull/119#issuecomment-516057377).

Hi @yucer,
Python-barcode is not a fork ! viivakoodi is a fork of python-barcode. (ref : https://github.com/OCA/stock-logistics-barcode/pull/76) And we switched because python-barcode was not active anymore. (In fact Bitbucket old links are now broken)
But well, now, python-barcode

[2019-07-30 08:33] yucer commented on #193
Done let us see if there are no regressions. I suppose that the programming interface is the same.

[2019-07-30 08:40] yucer commented on #193
However, there is something new: `python-barcode` uses `Pillow` instead of `PIL` when generating raster images.

Does this project generates only vector images (.SVG) ?

How many things in `Odoo` or `OCA` projects use `PIL` or `Pillow` features?

[2019-08-06 06:39] kittiu opened #199 "Difference between these modules and Odoo Enterprise Barcode"
Hi, we are quite new to using barcode scanning, but interested to join, i..e, upgrade to v12 (as I see many are left tbd).
I have some questions to get to know. What is the main difference between here, and Odoo Ent's Barcode https://www.odoo.com/documentation/user/12.0/inventory/barcode.html ?

[2019-08-06 07:35] pedrobaeza commented on #199
This is for anything involving barcodes. For example, barcode numbers generators. This is not something in enterprise.

There's also the stock_scanner module which is an independent daemon for doing scans in batch, which for some scenarios are interesting.

And finally, see #195 for an optimized replacement of the enterprise barcode scan module.

[2019-08-06 07:35] #199 closed, assigned to nobody

[2019-09-04 09:45] hassanlaarej opened #209 "odoo12 : Guid to install stock-logistics-barcode"
i try to install odoo12 stock-logistics-barcode by making source in addons or by pip3 but i can't view this modules in the interface.
tanks by advance

[2019-09-06 10:09] DanLaur opened #210 "Help, how install on windows 10?"
Hi, I'm new Odoo user, I'm try it on localhost windows 10. I've learn how install external modules, but I can't install this module, don't work.
I've unzip file and put it in addons folder.
I've odoo in developer mode, I've restarted odoo and postgree service, and i've update modules list.
But when I search module, I don't find it!
Anyone can help me?
Thanks

[2019-09-10 10:23] rousseldenis commented on #210
Hi @DanLaur. I think this is not the best place for this question.

Maybe there : https://www.odoo.com/fr_FR/forum/

[2019-09-10 10:23] #210 closed, assigned to nobody

[2019-09-15 01:49] bunhin opened #211 "[v10,v11][stock_scanner] The sentinel session session not started"
Hi all,
I have read line by line the configuration and how to use guide but can not get the point to start the sentinel session with the scanner device

already install odoo-sentinel  with  pip3 install odoo-sentinel, and success (inside the same odoo virtual environment)

I have successfully installed stock_scanner module on Odoo V11 fresh install, with demo data loaded. sentinel technical user i

[2019-09-19 12:41] bunhin commented on #211
after sometime the module installed, i found this error on log, and the have issue on css rendering such as database manager page get messy, icon of app logo are not shown

2019-09-18 06:17:08,777 1104 ERROR dbnameXX odoo.addons.base.ir.ir_cron: Call from cron Remove the current user_id and scenario values on session timeout for server action #588 failed in Job #9
Traceback (most recent call last)

[2019-09-29 21:48] OCA-git-bot opened #215 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] barcodes_generator_abstract - By @CarlosRoca13 - #317
- [x] barcodes_generator_product - By @CarlosRoca13 - #320
- [x] base_gs1_barcode - By @sergio-teruel - #253
- [ ] product_gtin - By @victoralmau - #351
- [ ] product_multi_ean
- [x] stock_barcodes - By @sergio-teruel - #252
- [x] stock_b

[2019-10-02 07:45] bunhin opened #216 "[base_gs1_barcode] question, any implementation sample of this module"
Hi all,

Is there any implementation sample or guide of base_gs1_barcode module? or may be brief guide available?

Thanks

[2019-10-11 18:24] pedrobaeza commented on #216
Used in #203

[2019-10-11 18:24] #216 closed, assigned to nobody

[2019-10-24 11:50] manuelcalerosolis opened #220 "EAN tree does not appear"
I have installed the module and in the product form, the control to represent the bar codes does not appear.

You can see how the runboot does not appear, it is more not to appear or within the inherited views.

Regards.

[2019-10-24 11:53] pedrobaeza commented on #220
Which module? Which version? Screenshots?

[2019-10-24 12:51] manuelcalerosolis commented on #220
Sorry,
module : product_multi_ean
version : odoo 12.0

![image](https://user-images.githubusercontent.com/3088246/67487147-b6305600-f66d-11e9-88b1-a2f3012f5c58.png)

Thanks.

[2019-10-24 13:07] bodedra commented on #220
@manuelcalerosolis You can see that fields at Product Variant form not on Product Template. As per your shared screen shot shows Product Template form view.

CC @pedrobaeza

[2019-10-24 13:08] pedrobaeza commented on #220
Closing as answered

[2019-10-24 13:08] #220 closed, assigned to nobody

[2019-10-24 18:20] manuelcalerosolis commented on #220
Do I have to create variants to be able to assign several barcodes to a product?

A product can have multiple bar codes during its life cycle, without having to have different properties.

Regards.

[2019-10-24 18:21] pedrobaeza commented on #220
You have to show product variants, or improve the code of the module for being able to put it in template when there's only one variant.

[2019-10-24 18:32] manuelcalerosolis commented on #220
We will study the module code to try not to create variants.

Thanks Pedro.

[2019-10-24 18:37] pedrobaeza commented on #220
But you are in a wrong assumption: variants are always created. Specifically one when there are no attributes, and more if some attributes with values that create variants.

[2019-10-24 18:39] bodedra commented on #220
IMO You should give/enable access right "Manage Product Variants" to your Users. Refresh your page, and now you can see new menu with "Product Variants". Search your desire product and assign multiple EAN. That's it.

[2019-10-24 19:06] manuelcalerosolis commented on #220
That is exactly what I do.

![image](https://user-images.githubusercontent.com/3088246/67516915-c3ffce80-f6a1-11e9-950f-9c7c86bcb71a.png)

There is no way to enter a new barcode.

![image](https://user-images.githubusercontent.com/3088246/67517102-1e992a80-f6a2-11e9-9018-57a250fbdbc8.png)

[2019-10-24 19:20] pedrobaeza commented on #220
And why don't you tell this from the beginning? The module only gives the basic read permission, but extra modules (or manually), you have to add the corresponding extra permissions for creating/deleting/modifying (salesperson for example). Maybe full access can be given to admins in this module, but due to dependencies, no others can be given.

[2019-10-24 20:59] manuelcalerosolis commented on #220
How do you want me to know, if I didn't see control before?

[2019-10-24 21:05] pedrobaeza commented on #220
Well, looking at the module code you see it clear that is over product.product, not over product.template. Any way, it seems this issue has mutated in its form along the time.

[2019-10-24 21:21] manuelcalerosolis commented on #220
Today I learned the difference between product.product and product.template.
Anyway I think that the README.rst file of the module could help people who for the first time want to use it.

[2019-10-24 21:33] legalsylvain commented on #220
@manuelcalerosolis, could you take time to make a PR in this direction, improving readme file ?

[2019-10-24 22:23] manuelcalerosolis commented on #220
Of course I will be delighted

[2019-10-25 10:16] manuelcalerosolis commented on #220
Working with the module I have discovered that it is not useful to sell a product for any of its barcodes, which does not meet my expectations.

[2019-10-28 13:39] rousseldenis commented on #209
@hassanlaarej That depends on your configuration. But either you should see the path to the modules in the server log when launching Odoo.

If so, you need to update modules list (in the interface).

[2019-11-06 16:13] AdriaGForgeFlow opened #224 "Picking generation using barcode scanning"
With the current stock barcodes module we are able to manage a certain part of the picking workflow. When the picking is already created we can go to the scanning wizard and start scanning the products that are present in the stock moves increasing the quantity done of the move itself. We can also validate pickings from the scanning wizard.

We have recently encountered with the need of the other

[2019-11-06 16:18] pedrobaeza commented on #224
For me, there shouldn't be an automatic picking generation, but automatic lines generation. AFAIK, this is already happening for `stock.move.line`, but not sure about non existing `stock.move`.

[2019-11-06 16:22] AdriaGForgeFlow commented on #224
Yes I didn't mean automatic generation for the pickings. The user manually creates the picking and then using the barcode scanner it introduces the products that are supposed to be in the picking generating the corresponding stock moves automatically.

[2019-11-06 16:24] pedrobaeza commented on #224
An extra switch for allowing that should be added. Something like "Free insert", that performs that operation independently from the existing stock.move (but only if not found).

[2019-12-04 15:17] Tim-ess opened #233 "Stock_Scanner 10.0 Can't backup my scanner scenario"
I built some scanner scenario’s with your stock scanner module wich works perfect.
Now I want to make a backup of the scenario’s I have written.
With the module comes the python script export_scenario.py.
When I run it it says except Exception, e: Syntax Error.
I tried running the script in the docker container (where i run odoo10) but when i run the script I get the following.
2019-12-04 13:29:08

[2019-12-04 15:20] pedrobaeza commented on #233
Odoo version? Do you have latest code of the module?

[2019-12-04 15:34] Tim-ess commented on #233
I have version 10.0.1.1.1 of the module @pedrobaeza

[2019-12-04 15:36] pedrobaeza commented on #233
OK, let's see if some of the maintainers of the module can say anything.

[2019-12-05 09:45] Tim-ess commented on #233
yes I will be waiting :)

[2019-12-10 20:59] mostafaala2 opened #234 "stock_barcodes with odoo 10"
I tried to make stock_barcodes model works in odoo 10 everything works fine but on_barcode_scanned doesnt  trigger

[2019-12-10 21:02] pedrobaeza commented on #234
The module is not migrated to that version, so you should expect problems.

[2019-12-10 21:02] #234 closed, assigned to nobody

[2020-01-07 12:49] zitom4 opened #239 "[v12][stock_barcodes]"
Hello!

My name is Lorenzo, from Sistemas de datos, Tenerife, Canary Islands.

I just opened the following issue:
[https://github.com/odoo/odoo/issues/42835](https://github.com/odoo/odoo/issues/42835)

We found the mentioned error using this module, but i think the problem is in the standard module, because since any module that inherits from it will find the same problem. However, @pedrobaeza tol

[2020-01-07 12:52] pedrobaeza commented on #239
@sergio-teruel is that a problem that you have faced?

[2020-01-07 15:16] sergio-teruel commented on #239
I don't know this issue ... mybe are you scanning in manual entry mode??

[2020-01-07 15:52] zitom4 commented on #239
No, i'm not in manual entry mode.

With an example, you will surely see it better. I don't know if you have tried this before.

If i read the following barcode : 8480000650672.

![IMG_20200107_152946](https://user-images.githubusercontent.com/5501212/71907545-2b3b0400-3164-11ea-94af-8c6108456229.jpg)

This is the result:

![Video](https://user-images.githubusercontent.com/5501212/71907948-01361180

[2020-01-07 16:02] sergio-teruel commented on #239
Ok I see nos!! . I will research it

[2020-01-07 19:38] sergio-teruel commented on #239
Can you add a video with all process... I am seeing location field empty.... !!

[2020-01-08 08:51] sergio-teruel commented on #239
Ok, I know whats happend... your issue is due to speed scanner transmit data....
You must adjust this and you can try with the Odoo system parameter "barcode.max_time_between_keys_in_ms".
@pedrobaeza you can close this issue.

[2020-01-08 08:53] pedrobaeza commented on #239
Thanks for checking, Sergio. Maybe this can be documented in the README of the module for future references?

[2020-01-08 08:53] #239 closed, assigned to nobody

[2020-01-09 09:18] zitom4 commented on #239
Yes Sergio. This is what i was talking about in the original post, in this paragraph:
![image](https://user-images.githubusercontent.com/5501212/72052183-913a9f00-32bc-11ea-8133-b92122512066.png)

As you told, a good way to solve it is adding these parameter. For us, with a low range barcode scanner we must adjust it up to 500ms.
If the inputmode attribute were supported by all browsers, i think i

[2020-01-24 06:34] sm2x opened #242 "Mobile UI (App Picking) Login Form"
On Login Form, Database selector is not clickable therefore you can not select db on mobile/smartphone device.

[2020-01-24 09:07] legalsylvain commented on #242
Could you try with another browser.
See know issue (on other similar module mobile_app_inventory / V8).
https://github.com/OCA/stock-logistics-barcode/tree/8.0/mobile_app_inventory#known-issues

regards.

[2020-01-24 15:38] sm2x commented on #242
tried 3 browsers (chrome, firefox, safari), and yet the same results

[2020-01-30 16:19] eLBati opened #246 "barcodes_generator_partner not available on pypi for v12"
https://pypi.org/project/odoo12-addon-barcodes-generator-partner/ page not found

[2020-01-30 16:19] eLBati commented on #246
@sbidoul do you know why?
Thanks

[2020-01-30 18:15] sbidoul commented on #246
I see nothing obvious and no error in the bot log... strange

[2020-01-30 18:43] pedrobaeza commented on #246
I think it has been the problem with the readme. See my comment in the PR

[2020-01-30 20:50] sbidoul commented on #246
So it should land on PyPI tomorrow.

[2020-01-30 20:52] sbidoul commented on #246
See also discussion in #244 and https://github.com/OCA/maintainer-tools/issues/441 for the root cause.

[2020-01-30 21:22] sbidoul commented on #246
@eLBati further digging into this. Actually the real reason it is not on PyPI is that the pypi publishing occurs on a nightly basis.

But it was not on https://wheelhouse.odoo-community.org/oca-simple/ either. And the reason for that is that #244 was merged without bumping version and in that case the wheel generator does not kick in immediately, it waits for the nightly batch. This touches the is

[2020-01-30 21:22] #246 closed, assigned to nobody

[2020-01-31 09:30] eLBati commented on #246
Thanks!

[2020-02-10 11:06] eLBati opened #250 "[12.0] barcodes_generator_product can't generate unique barcodes"
Steps:

 - Define a barcode rule with pattern `20.....{NNNDD}`, "base set manually" and model = products
 - Create a new product setting the defined rule and Barcode Base = 12345
 - Click "generate barcode" and get 2012345000001
 - Create another product with the same fields and click "generate barcode"

Get the same barcode: 2012345000001

@legalsylvain is this intended? Am I missing anything?

T

[2020-02-10 12:04] legalsylvain commented on #250
Hi @eLBati.
This module provides two ways to generate custom barcode :
- one with a sequence autoincremented,
- one with user providing custom base. (your choice here).
Well, in that case, if you give two identical bases to two products, the generated barcode will be the same. That's quit normal !

But this constraint should block such behaviour, don't you think ?

https://github.com/odoo/odoo/blo

[2020-02-10 16:43] eLBati commented on #250
Indeed, it is blocked by that constraint.

Ok, it seems we are making different assumptions.

I was assuming to use the `12345` as the "Manufacturer code" defined by EAN-13.
So couldn't it be the code assigned to my company, fixed for all my products?

Also, in the use case described above, if the user is in charge to change the base code, what is the module supposed to generate?
Setting `Barcode

[2020-02-10 17:12] legalsylvain commented on #250
So couldn't it be the code assigned to my company, fixed for all my products?

But if you do so, all the product will have the same EAN13 ? It is not what you want. If you want to have a fixed 12345 in the barcode, you can use ``0012345.....`` as the pattern and it will create ``001234500001x``, ``001234500002x``, ``001234500003x``, etc..

Setting Barcode Base = 12346 the module generates 20123460

[2020-02-11 07:15] eLBati commented on #250
Sorry, I don't want such a behaviour, I was describing what the module is doing in manual mode: it uses the base code, adds 5 zeros and control digit; it does not generate anything.

How should the module be configured for this use case?

Thanks

[2020-02-11 07:47] legalsylvain commented on #250
Sorry, I don't understand what you don't understand :-)
Could you just enumerates the barcodes you want, and I'll say you how to configure this module.
Alternavely we can have a talk.
Kind regard.

[2020-02-12 13:12] rousseldenis commented on #233
Hi @Tim-ess, when running the export script, your Odoo instance needs to run at the same time.

Moreover, you need to pass arguments for connection. See openobject library GetParser for standard arguments : https://github.com/subteno-it/openobject-library/blob/1.0/oobjlib/common.py#L33

[2020-02-13 18:24] sergio-teruel commented on #215
Working on stock_barcodes migration https://github.com/OCA/stock-logistics-barcode/pull/252

[2020-02-13 21:13] sergio-teruel commented on #215
Working on base_gs1_barcode https://github.com/OCA/stock-logistics-barcode/pull/253

[2020-02-17 07:22] Tim-ess commented on #233
Thx or your response. Your solution worked for me along with the right arguments for the scenario's I wanted to export. Thanks a lot!

[2020-02-17 07:22] #233 closed, assigned to nobody

[2020-02-17 08:23] rousseldenis commented on #233
You're welcome!

[2020-03-11 07:48] jimhoefnagels commented on #215
working on product_multi_ean #259

[2020-03-17 10:33] heymanh opened #260 "[12.0] No Barcode Generation on variants"
After barcode generation configuration for products, add variants to product, you will see that:
1. On the variants, no button for barcode generation
2. Still a button for generation on initial product, normally, the barcode field disappear when product has variants

Here is a patch adding variant support
[0001-Support-for-Variants.patch.zip](https://github.com/OCA/stock-logistics-barcode/files/43

[2020-03-17 10:48] legalsylvain commented on #260
Hi @heymanh. Thanks for reporting the bug. Could you make a PR ?
kind regard.

[2020-03-17 11:14] heymanh commented on #260
Hi @legalsylvain,
Thank you for all the work you are sharing with the community.
I've created the PR, https://github.com/OCA/stock-logistics-barcode/pull/261
Kind regards

[2020-04-09 09:59] jimhoefnagels commented on #215
working on stock_barcodes_gs1 #269

[2020-04-10 14:56] francesco-ooops opened #271 "[12.0] product_multi_ean does not seem to work"
Hi, since product_multi_ean does not have instructions in the description I'm struggling to understand where to input multiple barcodes for a product.

I checked the runbot but cannot seem to find any multiple barcode feature, my dev says a table should be visible in the product model?

Can you please help me out and check if the module is working as inteded?

[2020-04-17 08:46] francesco-ooops commented on #271
Is anyone else having issues with product_multi_ean?

[2020-05-01 19:26] MounirKammoun opened #273 "object has no attribute 'get_barcode_class'"
I have installed the module "Generate Barcodes for Products". When I create a new product, I get the following error :
Erreur:
[code]
I installed  'python-barcode' with `pip3 install python-barcode` but getting the same error.

[2020-05-01 22:21] legalsylvain commented on #273
Hi @MounirKammoun : For which version ?

[2020-05-01 23:18] MounirKammoun commented on #273
Hi @legalsylvain
Odoo 12.

[2020-05-02 04:42] legalsylvain commented on #273
I think that you have not the good version of the package.
Step to reproduce :
[code]
Result :
[code]
Run the virtualenv ``./env/bin/python``
Inside,
[code]
Result :
[code]
Hope it will help

Kind regards.

[2020-05-02 04:42] #273 closed, assigned to nobody

[2020-05-02 11:01] MounirKammoun commented on #273
It works!
Thank you very much!
Best regards

[2020-05-11 00:24] levkar opened #274 "[13.0] stock_barcodes serial tracked products handling"
Currently stock_barcodes module is incrementng quantity if a product is tracked by serial. This leads an error on next step since you can have the same serial on one product and its quantity must be 1.0.

It might give an error message (or  ignore the the serial barcode since it is already assigned).

I can send a PR if we agree on the correct action.

[2020-05-25 15:20] ralyqui opened #281 "[13.0] GS1-128 barcodes parsed incorrectly"
Currently when scanning a qs1-128 barcode with three AI's 01,17,10 GTIN is not parsed correctly.

As far as I can see the decoder is already supported for version 13, is there some additional dependency that I am missing?

[2020-05-25 16:09] pedrobaeza commented on #281
What do you expect to happen and with which modules?

[2020-05-26 11:16] ralyqui commented on #281
After installing every module from the branch 13 I expect to either go into inventory and be able to scan barcodes there or use the barcode app. Unfortunately, there is no way to scan barcodes from the inventory and the barcode app still doesn't find the product by serial number.

[2020-05-26 11:19] pedrobaeza commented on #281
`stock_barcodes_gs1` is not yet migrated, that fills the gap.

[2020-05-26 11:19] #281 closed, assigned to nobody

[2020-07-30 15:13] eLBati commented on #224
Adding this functionality to 12.0 with https://github.com/OCA/stock-logistics-barcode/pull/288

[2020-08-28 16:05] arthurbrazil opened #294 "Issue installing."
I get this error when installing

`Odoo Server Error
Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 13.0\server\odoo\tools\convert.py", line 712, in parse
    self._tag_root(de)
  File "C:\Program Files (x86)\Odoo 13.0\server\odoo\tools\convert.py", line 674, in _tag_root
    f(rec)
  File "C:\Program Files (x86)\Odoo 13.0\server\odoo\tools\convert.py", line 577, in _tag_re

[2020-08-28 18:49] #294 closed, assigned to nobody

[2020-09-21 22:52] pedroslopez commented on #224
@pedrobaeza Why is this not desired? It seem to me that Odoo's stock_barcode app available in enterprise allows this. You can scan a picking type, then scan all products, scan a location if wanted and validate all by using barcodes.

A client is wanting this flow, I'm curious as to why there shouldn't be auto picking generation and if there are maybe consequences I'm not seeing with this.

[2020-09-22 07:18] pedrobaeza commented on #224
Pickings are generated from their sources (sales, purchases, etc), so there's no point on creating dangling pickings and will create a quick way for doing that instead of looking the proper one.

[2020-09-22 08:10] pedroslopez commented on #224
Ah, I understand. In our case they wanted to start out using Odoo exclusively for inventory management so sales/purchase orders weren't being created

[2020-09-22 08:11] pedrobaeza commented on #224
That's a mistake IMO, but everyone is free to do what he/she wants.

[2020-09-22 08:32] eLBati commented on #224
There are plenty of use cases where pickings are generated manually, without a source document, especially in complex warehouses.
Just think of internal transfers.
Also, as in @pedroslopez 's case, Odoo can be used just for inventory management.

[2020-09-22 08:42] pedrobaeza commented on #224
Even in that cases, @eLBati, a base picking should be created IMO with basic information, like source and destination location, and then start scanning. What I don't see is to have Odoo ERP "only for inventory management", but that's my point of view. Anyway, as said, I think the flow should be that one: create the internal picking and then start scanning. If you don't agree, you can expand the mo

[2020-09-22 13:24] eLBati commented on #224
Ok, I agree

[2020-10-04 10:35] OCA-git-bot opened #298 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [ ] barcode_generator_package - By @Raul-S73 - #504
- [x] barcodes_generator_abstract - By @Zar21 - #340
- [x] barcodes_generator_location - By @Zar21 - #339
- [ ] barcodes_generator_partner - By @jguenat - #476
- [x] base_gs1_barcode - By @fshah-initos - #334
- [x] product_barcode_constraint_pe

[2020-10-12 11:08] conroyke56 commented on #260
Any updates on if the pull will be processed?
We are running into the same issue.

Thanks,

[2020-10-15 10:00] poiswe commented on #274
Hi, any progress regarding this issue?

[2020-10-15 10:04] sergio-teruel commented on #274
Sorry!! I agree with @levkar ... Do you can make a PR with the improbement??

[2020-10-21 12:08] gregory-moka opened #302 "12.0 > Product barcode generator > Unable to generate barcode"
I tried to use this addon before install it on my databse, but, on runbot, I'm not able to generate barcode, or I'm missing something.

I carefully read the documentation (on barecodes_genreator_product and barcodes_generator_abstract pages), and, even if the generator rules seems to be well set, I can't see the "Generate barcode" button on the product page, and the barcode is not generated automa

[2020-10-29 10:25] manuelcalerosolis opened #304 "[13.0] It does not read the barcode, when it has been switched to manual entry"
In version 13 when you have switched to "manual input" it no longer executes the python function 'on_barcode_scanned', it seems that the manual entry button does not release the focus, as it did in version 12.0.

If I click on the bottom of the screen, it reads the barcodes.

Steps to reproduce the error:
1. Go to Inventory > operations > Inventory Adjustments.
2. Create new inventory with "Select

[2020-11-04 07:58] gregory-moka commented on #302
@legalsylvain ?

[2020-11-13 18:10] cscocca opened #310 "product_multi_ean does not work correct"
I have some issue with module product_multi_ean in Odoo 12 CE, if I have product with already ean written I got an excpetion on firts install.
To complete install I must delete all product bar code.
But after install complete no EAN list appear for product, just text field.
Then if I try to delete a barcode I got:
 Create/update: a mandatory field is not set.
- Delete: another model requires the r

[2020-11-19 17:01] cscocca commented on #271
Yes I have the same issue [https://github.com/OCA/stock-logistics-barcode/issues/310](url). I created also a new issue because I did not see this

[2020-11-26 08:52] eguane commented on #302
Hi you need to modify user right like this
![image](https://user-images.githubusercontent.com/35990301/100328680-11e5b500-2fcd-11eb-9741-d01182eb0b70.png)

[2020-11-26 22:28] TumbaoJu opened #311 "[12.0] barcodes and stock_barcodes: Not able to add a serial number/lot"
Hello!  We are using those modules : barcodes, stock_barcodes in version 12.0.

In any inventory operation , picking or adjustement, when I scan a product tracked by serial number/lot, I first scan the product barcode, then the lot/serial number (an existing one).

Odoo does not recognize the serial number/lot and wait for me to scan the lot/serial number for the new product (thinking the lot I sc

[2021-01-04 10:30] chafique-delli commented on #298
barcodes_generator_abstract: https://github.com/OCA/stock-logistics-barcode/pull/313
barcodes_generator_product: https://github.com/OCA/stock-logistics-barcode/pull/314

[2021-02-16 08:37] dsolanki-initos commented on #298
I'll migrate the module product_multi_ean to v14

[2021-02-25 18:39] TumbaoJu commented on #311
@pedrobaeza   Have you seen this issue?  I really would like to be able to give an update to my client who is using the module stock_barcodes.
Thank you in advance for your help.

[2021-03-03 19:45] Avendere opened #324 ""Scan Barcode" smart button missing from transfers"
Usage instructions state,

"To use the barcode interface on a picking:

Go to Inventory > Transfers.
Click to “Scan barcodes” smart button.
Start reading barcodes."

Yet, I have no Scan barcodes button on the transfers page. I have the barcode buttons in operations overview but nothing in Transfers.

[2021-03-03 19:48] Avendere commented on #324
I should add using Odoo 13. Behavior is the same on desktop and mobile. Windows and Android. No other addon modules installed.

[2021-03-03 19:56] pedrobaeza commented on #324
Do you mean entering one specific picking, or in the list?

[2021-03-03 20:12] Avendere commented on #324
Hi Pedro.

My understanding is that in Overview where I can see barcode images are for scanning existing operations. Such as an expected receipt from purchasing or an existing sales order from Sales. If I scan a product in there then it is trying to match it against a product on an existing transfer right?

But if I want to do an Immediate transfer with no existing document then I go in Inventory

[2021-03-03 20:15] pedrobaeza commented on #324
No, that doesn't exist yet. You have to always start from existing picking. I see that the README is slightly confusing in that part, as it's missing a point "Access to an existing picking".

[2021-03-03 20:18] Avendere commented on #324
Oh ok. It is also confusing because it says right in the usage instructions that it is available :)

To use the barcode interface on a picking:

Go to Inventory > Transfers.
Click to "Scan barcodes" smart button.
Start reading barcodes.

[2021-03-03 20:21] Avendere commented on #324
I see now, this is trying to demonstrate two different ways to get to the same existing picking. It is a little confusing. Thanks anyway.

[2021-03-03 20:45] pedrobaeza commented on #324
Yeah, that's why I said that a point is missing. This should be the proper USAGE part:

- Go to Inventory > Transfers.
- Access to an existing pending picking.
- Click to "Scan barcodes" smart button.
- Start reading barcodes.

And it would be good to put your petition in roadmap part.

[2021-03-03 20:53] Avendere commented on #324
ok I will add it. Thanks for your swift (and out of hours) response.

[2021-03-03 20:55] Avendere commented on #324
Sorry, one last thing. Roadmap is pull requests yes?

[2021-03-29 17:21] pedrocs-exo commented on #271
I had the same problem so I decided to share my conclusions:

The EAN list is only visible on the Product Variants (product.product) form and not on the Products (product.template) form.

If you happen to have a system configuration without variants, things get can fun. If you access the products through the Invoicing menu, you'll see the EAN because Odoo will show you product.product items. But i

[2021-04-01 05:29] fshah-initos commented on #298
stock_barcodes https://github.com/OCA/stock-logistics-barcode/pull/330

[2021-04-02 10:12] schhatbar-initos commented on #298
I'll migrate "base_gs1_barcode" to v14.

[2021-04-05 12:15] fshah-initos commented on #298
'stock_barcodes_move_location'  #332

[2021-04-06 06:40] dsolanki-initos commented on #298
"stock_barcodes_automatic_entry" #331

[2021-04-13 06:03] fgarcia-humanoide opened #333 "[13] stock_barcodes_move_location readme file is wrong, it was copyed from stock_barcodes"
[13] stock_barcodes_move_location readme file is wrong, it was copyed from stock_barcodes

[2021-04-20 04:50] fgarcia-humanoide opened #335 "[13] stock_barcodes , the reception sends product to WH/STOCK instead WH/STOCK/location1"
Observed behaviour

With the barcode scanner, we do process a reception indicating product and location
The product is transfered to WH/STOCK instead the desired location WH/STOCK/location1

Desired behaviour

The product is transfered to the desired location WH/STOCK/location1

[2021-05-03 09:22] dani-xtendoo opened #336 "Generate Barcode (Abstract) v12"
Good Morning,
We have a problem with the module "Generate Barcode (Abstract)" v12.
When we try to install it, odoo returns an error:
"Unable to install module "barcodes_generator_abstract" because there is an unresolved external dependency: invalid syntax".
The external library "python-barcode" was installed in our container without any problems.
How can we install the modulo "Generate barcode (Ab

[2021-05-03 09:55] legalsylvain commented on #336
Hi @dani-xtendoo. Do you have installed the pinned version ?
https://github.com/OCA/stock-logistics-barcode/blob/12.0/requirements.txt#L1

[2021-05-03 11:36] dani-xtendoo commented on #336
Thank You for the answer @legalsylvain,
we have installed python-barcode but not the 0.12.0 version.
When we have added the version 0.12.0  for python-barcode, the modulo was installed witout problems.

[2021-05-03 11:42] legalsylvain commented on #336
Thanks !

could you take a time to make a PR to update the installation part of the readme file ?
https://github.com/OCA/stock-logistics-barcode/blob/13.0/barcodes_generator_abstract/readme/INSTALL.rst

[2021-06-02 08:01] etobella opened #342 "[RFC] GS1 Barcodes"
During the configuration of the barcodes, we have found the following issue:

* A supplier creates a Product, we can call it A
* As they are delivering on boxes of 100, they do create a Barcode for the box, and they use it with code 02 (Product Barcode)
* When you receive the box, you will open it and use it by boxes

Has anyone found this situation? Any ideas how to solve it?

Thanks for your eff

[2021-06-03 12:21] marylla opened #344 "[12.0] stock_barcodes_supplierinfo: Barcode scanning of product packaging does not work if this module is installed"
Hi there, I have some troubles with the barcode scanning of product packagings after installing stock_barcodes_supplierinfo.

What I do:
* create a product with a barcode
* create a product packaging containing 6 units of my product and add different barcode (e.g. "123456")
* create a new purchase order for the product with quantity 6 and confirm it
* open the incoming stock picking and click on t

[2021-07-22 19:36] llacroix commented on #336
@legalsylvain any idea what's wrong with newer version of python-barcode?

We can see here that it does indeed pass tests on python3.6
https://github.com/WhyNotHugo/python-barcode/actions/runs/1051859829

[2021-07-23 05:50] legalsylvain commented on #336
No idea.

[2021-07-26 18:06] bodedra commented on #336
Are we good to close this issue?

[2021-07-27 06:20] legalsylvain commented on #336
@bodedra. Just waiting for @dani-xtendoo to improve the readme.

kind regards.

[2021-07-31 17:36] llacroix commented on #336
If there are no issues then the python-barcode version freeze should be removed from the requirements.txt it may cause version conflicts with other libraries.

[2021-07-31 20:05] legalsylvain commented on #336
@llacroix : I dont understand, as there is issues with recent version.

[2021-08-01 03:30] llacroix commented on #336
@legalsylvain how come branch 13.0 and 14.0 aren't version frozen then? What issues exactly?

And I just tested version python-barcode-0.13.1 on odoo 12 with python3.6 without issues.

[2021-08-01 07:51] legalsylvain commented on #336
Ok. I dont get it ! Let's go unpin latest version if all is ok.

[2021-08-06 06:56] hkapatel-initos commented on #298
'product_supplierinfo_barcode' #354

[2021-08-16 10:24] tack-yabeQuartile opened #356 "[IMP] Generate and deal with two-dimensional code"
Hello, We plan to use this module to control our inventory. Then please let me pose a question.
We are going to print out two-dimensional code (encoded picture) such as GS1-DataMatrix and attach it to our products.
This module, however, now requires "python-barcode" library which does not support generating 2D code.

Our question/suggestion is extending functionality of this module to cover not on

[2021-10-17 10:22] OCA-git-bot opened #368 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [x] barcodes_generator_abstract - By @manuelregidor - #483
- [x] barcodes_generator_product - By @manuelregidor - #488
- [x] base_gs1_barcode - By @JasminSForgeFlow - #402
- [ ] product_multi_barcode
- [ ] product_multi_barcode_stock_menu - By @bizzappdev - #481
- [x] product_supplierinfo_barcod

[2021-11-23 20:53] Mat-moran opened #377 "[14.0] barcode rules are not deleted"
## Module
barcodes_generator_abstract

## Describe the bug
It seems that barcode rules are not deleted when yo delete from the barcode nomenclature table neither when you delete the barcode nomenclature.

## To Reproduce

1. Go to Settings / Technical / Sequences & Identifiers / Barcode Nomenclatures
2. Create a Nomenclature
3. Create a rule with EAN13 codification
4. Select Generate type --> `Bas

[2021-12-27 08:35] TTT1996 opened #379 "(14)After successful installation, the driver cannot be"
## Module
stock_barcodes

## Describe the bug
After successful installation, the code scanner will not work。
in 13，use the code scanner，have‘post /web/dataset/call_kw/wiz.stock.baicodes.read.picking/onchange....."
but in 14, use the code scanner,have not

[2021-12-27 08:37] pedrobaeza commented on #379
Unless you give more hints about the problem, nothing can be done. Anyways, the barcode detection part is not from this module, but Odoo core one.

[2022-01-12 09:37] KNVx commented on #298
stock_barcodes_supplierinfo #382

[2022-01-20 12:06] albariera commented on #304
We have the same problem. Any news on this topic?

[2022-01-20 14:36] albariera commented on #304
@sergio-teruel  Do you  know how to solve it? I have tried to search on your PR #348, but I have not been able to find it... It could be great to have a temporary solution until #348 is merged
Thank you! :blush:

[2022-01-20 16:28] albariera commented on #304
@etobella

[2022-01-20 19:12] sergio-teruel commented on #304
@albariera @manuelcalerosolis Can you try fixing like this:
https://github.com/OCA/stock-logistics-barcode/pull/348/files#diff-9d1148b192b848133c09e4649afb276603fc26458944f313ee2b26b1c02be921L27

[2022-01-27 18:09] ceballos59 opened #383 "barcode_automatic_entry doesn't work for me"
## Module
barcode_automatic_entry

## Describe the bug
-- apparently not working for me

## To Reproduce
**version 12.00

Steps to reproduce the behavior:
1. I put button in inherited view

        <field name="inherit_id" ref="stock.view_picking_form"/>
             <field name="arch" type="xml">
                 <xpath expr="//field[@name='backorder_id']" position="after">
                     <

[2022-02-16 07:38] 969648513 opened #389 "[14.0] stock_barcodes Unable to scan barcode"
## Module
stock_barcodes that has a bug.

## Describe the bug
There is no information feedback on the code scanning page during code scanning

[2022-03-22 10:46] Mat-moran opened #400 "[14.0] barcode rules are not passed to `product.product`"
## Module
barcodes_generator_product

## Describe the bug
There are different problems related with this module.

### **barcode rules** are not passed to `product.product`
- When you create a new product and the `automatic_generation=False` you can not create the product if you assign a barcode rule, and you can not assign a barcode rule once the product has been created for the same reason. This

[2022-03-22 10:52] legalsylvain commented on #400
Hi @Mat-moran.

This module doesn't define ``generate_type`` on ``product.template`` but on ``product.product`` level.

Defining ``generate_type`` on the second ``product.product`` should fix the bug. Or did I missed something ?

regards.

[2022-03-22 10:53] Mat-moran opened #401 "[14.0] barcode is generated when no barcode rule is selected if a barcode rule has `automatic_generation=True`"
## Module
barcodes_generation_product

## Describe the bug
### automatic generation of barcodes IMO should be bounded to the rule itself
Now when you defined a rule with automatic generation it applies to all the products, even if you do not select this rule during the creation of the product. IMO the automatic barcode generation should only happen if you select an automatic rule in the product.

[2022-03-22 11:02] legalsylvain commented on #401
@lasley : could you take a look on this one, as you implemented the automatic mechanism.

thanks !

[2022-03-22 11:02] Mat-moran commented on #400
Thanks for the answer @legalsylvain,

Yes if you assign the `barcode_rule` manually to the variants this solve the problem **partially** with the drawback that to do it manually with a `server_action`. I say partially because if you  create a new variant after barcodes has been generated, it does not work properly the sequence is lost.

All the problems are solve with the `automatic_generation=Tru

[2022-03-22 11:04] cramosh commented on #400
Hi @legalsylvain this field is define in the model product.template from module barcodes_generator_product. Is a selection field related with product_variant_ids
![captura](https://user-images.githubusercontent.com/34350771/159467885-3a0b1fc6-a451-45ec-a19c-af6a5512bc74.png)

[2022-03-22 11:09] legalsylvain commented on #400
yes, so it should be but on the product.product level.
the product.template level only works on a mono-variant context.

Well, in fact it is exactly design as ``barcode`` field.
if you create have a variant 1 with value A in ``barcode`` field and if you create an variant B, the ``barcode`` field will be empty. The same occures for this module.

[2022-03-22 11:12] Mat-moran commented on #400
Here is an image with a barcode generated with variants already created applying the barcode rule with a server action.

![image](https://user-images.githubusercontent.com/4810013/159468603-c544b855-dc1e-4a30-ae81-ac2009868117.png)

When I create a new variant, apply again the barcode rule of the product template and try to generate the new barcode I get the next error saying that one barcode only

[2022-03-22 11:19] cramosh commented on #400
This example is ok. But when i create a template and assing one category, this category is same from all variants

[2022-03-22 11:26] Mat-moran commented on #400
@legalsylvain I see you are checking #401 , probably this one is more important and solves partially this issue because with automatic generation the workflow id OK. Thanks for the quickly answer.

[2022-04-07 08:27] Mat-moran commented on #401
Hi @lasley sorry for ping you but this matter is urgent for us, are you going to check this? If you can not do that we can give a try and do a PR.

[2022-04-07 21:17] rafaelbn commented on #401
@lasley doesn't' work in Odoo anymore at least 3 years ago.

[2022-04-12 07:53] Mat-moran commented on #401
Thanks @rafaelbn,
@rafaelbn, @legalsylvain  are you OK if we propose a PR in this direction??

[2022-04-12 09:32] legalsylvain commented on #401
hi @Mat-moran

Indeed ! Please add tests for the automatic generation workflow.

[2022-04-12 10:34] rafaelbn commented on #401
My opinion is I'm agree with this direction. I'm not PSC of this repo.

My suggestion is that more @OCA/logistics-maintainers-psc-representative could give their vision.

[2022-04-19 04:54] yehebihr opened #406 "[14.0]: after installing all needed gs1 modules, system still can't pares GS1 data matrix 2D code !"
After installing ( Stock Barcodes ,GS1 Barcode API , Stock Barcodes GS1, and Stock Barcodes GS1 Expiry)  system still not able to parse GS1 data matrix 2D codes

So when I receive a product by scanning the  GS1 data matrix 2D code,  the following should happen:

1- items shows up by recognizing its GTIN
2- lot number get updated
3- SN added
4- Expiry date added

But, what is happing now is showing

[2022-04-21 21:24] yehebihr commented on #406
Anybody can help please 🥲

[2022-04-24 02:37] yehebihr commented on #406
Help is needed!

[2022-04-27 09:09] yehebihr commented on #406
Hello!! Can anybody help 🥲 please?

[2022-04-27 09:21] rousseldenis commented on #406
@yehebihr Could you please :

- Enumerate the modules you've installed.
- The exact flow that is problematic ('So when I receive a product by scanning...' - What do you do exactly? - Which screen?...)
- The error message you have (if you have one).
- Maybe a way to reproduce on runboat

[2022-06-12 12:12] #20 closed, assigned to nobody

[2022-06-12 12:12] #33 closed, assigned to nobody

[2022-06-12 12:12] #45 closed, assigned to nobody

[2022-06-12 12:12] #69 closed, assigned to nobody

[2022-06-12 12:12] #89 closed, assigned to nobody

[2022-06-12 12:12] #90 closed, assigned to nobody

[2022-06-19 12:13] #105 closed, assigned to nobody

[2022-06-26 12:13] #109 closed, assigned to nobody

[2022-06-26 12:13] #113 closed, assigned to nobody

[2022-07-11 13:10] francesco-ooops opened #416 "[14.0] product_multi_barcode: delete product containing barcode, but barcode is still assigned to product "false""
[VIDEO](https://recordit.co/neQRm18ekC)

## Module
product_multi_barcode

## Describe the bug
Barcode records are not deleted when product they are related to are deleted

## To Reproduce
**Affected versions**:

Steps to reproduce the behavior:
1. Assign barcode 1 to product A
2. Delete product A
3. Assign barcode 1 to product B
4. Error: The Barcode "barcode 1" already exists for product "False"

[2022-07-27 08:34] codegrove-dev opened #420 "[14] stock_barcodes not reading barcods"
## Module
stock_barcodes

## Describe the bug
After installing the stock_barcodes module, we can see the "scan barcodes" button in any picking, and it will open up the wizard. Inside the wizard there is nothing happening when reading a barcode, neither in the main screen nor inside a manually chosen picking. Also, the manual entry data does not react to a scanned barcode.
The barcode reader itself

[2022-07-31 12:14] #159 closed, assigned to nobody

[2022-08-07 12:13] #181 closed, assigned to nobody

[2022-08-07 12:13] #187 closed, assigned to nobody

[2022-08-14 12:13] #193 closed, assigned to nobody

[2022-08-14 12:13] #209 closed, assigned to nobody

[2022-08-21 12:13] #211 closed, assigned to nobody

[2022-08-21 23:00] sm2x commented on #242
ping!

[2022-08-29 15:23] yehebihr commented on #406
Hey @rousseldenis

As requested

- Enumerate the modules you've installed:

  - stock_barcodes
  - stock_barcodes_gs1
  - stock_barcodes_gs1_expiry
  - base_gs1_barcode (GS1 Barcode API)

- The exact flow that is problematic:

  After installing the mentioned modules above, system still can't parse gs1 2D data-matrix code.
  when using barcode interface on a  receiving or picking and start scannin

[2022-08-29 17:37] sergio-teruel commented on #406
Hi @yehebihr maybe there is any commit that has not applied un v14.
I Will rewiew this...

[2022-08-29 19:32] sergio-teruel commented on #406
Fixed here https://github.com/OCA/stock-logistics-barcode/pull/429

@yehebihr Can you test?

[2022-08-31 10:35] yehebihr commented on #406
@sergio-teruel thanks for your fast response!

I tested the module after installing the new updates but still cannot parse the gs1 barcode

Check the below screen shot for the error

![image](https://user-images.githubusercontent.com/16811333/187659386-8d1b3e7f-4178-4c8d-ad69-96e2541aaa21.jpeg)

[2022-08-31 10:37] sergio-teruel commented on #406
Ok!! I will review more deeply.
Can you copy and paste the full GS1 number and I'll check

[2022-08-31 10:40] sergio-teruel commented on #406
With the lastest changes, now you must select in every operation type the proper scann option.

Can you check this??

[2022-08-31 10:42] yehebihr commented on #406
010622107515007821188439251117220727106719015

https://barcode.tec-it.com/barcode.ashx?data=010622107515007821188439251117220727106719015&code=GS1DataMatrix&translate-esc=true&dmsize=Default

[2022-08-31 10:43] yehebihr commented on #406
Let me check and get back to you

[2022-08-31 15:10] yehebihr commented on #406
@sergio-teruel  As requested,  I selected the proper scan option for every operation type.

For example

-  Receipts -> picking in option
- Delievry Orders -> picking out option

But, still the system can't parse the gs1 barcode as shown in the picture  below.
<img width="800" alt="Screen Shot 2022-08-31 at 5 24 43 PM" src="https://user-images.githubusercontent.com/16811333/187707284-b243b24e-59b4

[2022-08-31 16:29] sergio-teruel commented on #406
Thanks for your explanation.

I will review it

We have to change the help documentation....

[2022-08-31 18:12] sergio-teruel commented on #406
Hi..

An error occurs when the module base_gs1_barcode try to decode the barcode

https://github.com/OCA/stock-logistics-barcode/blob/14.0/base_gs1_barcode/models/gs1_barcode.py#L202

The position error is 38. At this moment I don't have a 2d reader so I can't check it

[2022-08-31 23:28] yehebihr commented on #406
Kindly, would you please elaborate more on in more details about the errors ?

Thanks

[2022-09-02 18:03] yehebihr commented on #406
Dears,

Kindly, please any updates on the issue.

Thanks,

[2022-09-02 20:01] yehebihr commented on #420
With the lastest changes, now you must select in every operation type the proper scann option.

For example,

Receipts -> pick in
 Delivery Orders -> pick out

To do this:

1- Go to inventory
2- go to configuration
3- operation type
4- scroll down to barcodes and select the proper scan options

https://github.com/OCA/stock-logistics-barcode/issues/406#issuecomment-1232770687

[2022-09-02 20:05] yehebihr commented on #389
Check here

https://github.com/OCA/stock-logistics-barcode/issues/420#issuecomment-1235854091

[2022-09-02 20:07] yehebihr commented on #379
Check here

https://github.com/OCA/stock-logistics-barcode/issues/420#issuecomment-1235854091

[2022-09-05 22:43] yehebihr commented on #406
@sergio-teruel

Any update regarding the issue please ?!

Also, I have a question regarding the POS operation, what scanning option should we assign? Do we use "pick out" ?

[2022-09-11 12:15] #215 closed, assigned to nobody

[2022-09-11 12:15] #224 closed, assigned to nobody

[2022-09-13 15:10] yehebihr commented on #406
@rousseldenis
@sergio-teruel

Could you please help ?

[2022-09-13 17:38] sergio-teruel commented on #406
Sorry @yehebihr I had some tests with a Zebra MC93 and I think that your code is not good..
Have you any picture (Not generated by you) of a barcode datamatrix 2d?

[2022-09-13 18:39] yehebihr commented on #406
@sergio-teruel

Thanks for getting back to me

Please see the attached file for Gs1 datamatrix codes

![image](https://user-images.githubusercontent.com/16811333/189983626-3968a237-5914-4a0a-ba11-b85fcd9ac7f8.jpeg)

Your support is greatly appreciated

Thanks

[2022-09-13 22:30] yehebihr commented on #406
@sergio-teruel thanks for getting back to me

I've attached a few examples of the gs1 data matrix barcode below:

![image](https://user-images.githubusercontent.com/16811333/190020451-020a5d9a-d3f4-4fd0-ac54-39c0a4f56e47.jpeg)

![image](https://user-images.githubusercontent.com/16811333/190020158-dc92199c-d61d-40a1-ba4f-c29e7f0c051a.jpeg)

Your support is greatly appreciated

Thanks,

[2022-09-18 13:52] robinhli opened #435 "[13.0][stock_barcodes] show (Barcode not found with this screen values) with any barcode"
## Module
stock_barcodes

## Describe the bug
Installed the module stock_barcodes, but it seems it does not work

## To Reproduce
**Affected versions**:
13.0
Steps to reproduce the behavior:
1. Installed the stock_barcodes module
2. *Inventory > operations > Inventory Adjustments*
3. press the scan barcodes button
4. scan anything will show the barcode not found with this value

**Expected behavio

[2022-09-18 14:47] #435 closed, assigned to nobody

[2022-09-19 12:13] vib-adhoc commented on #368
product_multi_barcode [#434](https://github.com/OCA/stock-logistics-barcode/pull/434)

[2022-09-20 02:41] robinhli opened #436 "[13.0][stock_barcodes] barcodes read picking, manually input quantity not correct shown"
## Module
The name of the module that has a bug.
13.0, stock_barcodes
## Describe the bug
A clear and concise description of what the bug is.
when reading a PICKING IN picking, click manual
## To Reproduce
**Affected versions**:

Steps to reproduce the behavior:
1. open a PICK IN stocking picking with smart barcode
2. click the bottom left manual button, the reserved quantity is 0.

![image](https

[2022-09-21 04:12] yehebihr commented on #406
@sergio-teruel

Soft reminder

[2022-09-24 00:33] robinhli opened #437 "[13.0][stock_barcodes]click upload button there is an odoo error: IndexError: list index out of range"
## Module
The name of the module that has a bug.
stock_barcodes

## Describe the bug
A clear and concise description of what the bug is.

Odoo Server Error
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 624, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line

[2022-09-25 12:16] #250 closed, assigned to nobody

[2022-09-26 12:34] yehebihr commented on #406
@rousseldenis
@sergio-teruel

Is there any update on this please?

[2022-09-29 09:47] ms-obs commented on #368
Hey everyone,

I've seen that "stock_barcodes" and "stock_barcodes_gs1" is on the list for migration to v15.

Can you tell me, when we can expect, that these modules are finally migrated?

@JasminSForgeFlow
You are currently working on the "stock_barcodes_gs1", may you can help out here.

To the "stock_barcodes"-migration task currently no one is added.

Also I am missing the "stock_barcodes_gs1_e

[2022-09-30 04:58] yehebihr commented on #406
@LoisRForgeFlow Can you please help?

[2022-10-02 12:17] #260 closed, assigned to nobody

[2022-10-03 17:03] OCA-git-bot opened #440 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [x] barcodes_generator_abstract - By @legalsylvain - #449
- [x] barcodes_generator_location - By @david-s73 - #576
- [x] barcodes_generator_product - By @legalsylvain - #450
- [ ] base_gs1_barcode - By @tewtawat - #445
- [x] product_barcode_constraint_per_company - By @PierrickBrun - #482
- [x]

[2022-10-10 10:30] tewtawat commented on #440
[MIG] base_gs1_barcode: Migration to 16.0 #442

[2022-10-10 11:11] tewtawat commented on #440
[MIG] base_gs1_barcode: Migration to 16.0 #445  @kittiu

[2022-10-16 12:17] #271 closed, assigned to nobody

[2022-10-23 12:18] #274 closed, assigned to sergio-teruel

[2022-10-24 16:27] yehebihr commented on #406
@sergio-teruel
@rousseldenis
@rvalyi

Still can't make it works!

Any help please?

[2022-11-13 12:15] #302 closed, assigned to nobody

[2022-11-13 12:15] #304 closed, assigned to nobody

[2022-11-15 15:51] Bilbonet opened #462 "[14.0][stock_barcodes] Wizard window don't update amount done while you are scanning"
In this case the need is to pick out the products from a sale order. The operative is scan the code bar product and if it's correct picks it up.

As you can see in the image.
Wizard window don't update amount done while you are scanning. I have to server 4 units and I've already scanned two but windows still to 0.
If I click in the line opens de window with the correct information.

![imagen](http

[2022-11-15 17:36] Bilbonet opened #463 "[14.0][stock_barcodes] method action_force_done() is triggered reading barcodes"
When you read a product barcode that is not in the picking.

1. The wizard shows  the wrong product found.
2. The button with the action action_force_done() is visible.

Then, if you read another barcode the button with the action is triggered. And create a new stock move.

![stock_barkodes](https://user-images.githubusercontent.com/8178160/201987867-daf0fc34-5d86-471e-94f3-d58cbf442417.gif)

[2022-11-21 10:34] alessiom72 commented on #462
I can confirm the bug. It seems the method _compute_qty_done() of the class WizStockBarcodesReadTodo is not triggered by the change in line_ids.qty_done.

[2022-11-23 12:03] ghost opened #467 "Psycopg2.errors.NumericValueOutOfRange: integer out of range"
## Module
stock-logistics-barcode / barcodes_generator_abstract

## Describe the bug
When the creation of the barcode is managed by sequence and we try to generate a Barcode an error appears:
RPC_ERROR
Odoo Server Error
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/addons/base/models/ir_http.py", line 237, in _dispatch
    result = request.dispatch()
  File "/usr/l

[2022-11-27 12:13] #310 closed, assigned to nobody

[2022-11-27 12:13] #311 closed, assigned to nobody

[2022-11-29 11:32] davidepiu14 opened #468 "[14.0]stock_barcodes: Picking out operation bug"
# stock_barcodes

## Description
Creating a new stock.operation operation from the button "New" it's nearly impossible to read the product with the barcode scanner. Randomly the product barcode is recognized and in the logs I see this error:

`UPDATE "wiz_stock_barcodes_read_picking" SET "write_uid"=2,"write_date"=(now() at time zone 'UTC') WHERE id IN (130)
ERROR: could not serialize access due t